#wrapper {
    background: url("https://i.imgur.com/SYY2mJz.png");
    background-size: cover;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    padding-bottom: 50px;
    height: 100vh;
}

#pokemon-row, #message-row {
    width: 50%;
    margin: auto;
    color: #356BBB;
}

#message-row {
    padding-bottom: 50px;
    font-family: 'Fredoka One', cursive;
    text-align: center;
}